/.DS_Store
/.idea
/3.png
/@Wallpaper_4K3D (10924).png
/O.png
/X.png
/XO_game.py
/__pycache__
/b0.png
/b1.png
/b2.png
/bot.png
/lab1-challenge.py
/lab1-discount.py
/lab2-light.py
/lab2-square.py
/lab3-circle.py
/labelbutton.py
/main.py
/p0.png
/p1.png
/p1.py
/p1.zip
/p2-cement.py
/p2-pythagorean.py
/p2-travel.py
/p2.png
/p2.zip
/player.png
/sess10_project_bardia.py
/sess11_project_bardia.py
/sess7_project_bardia.py
/sess8_project_bardia.py
/sess9_project_bardia.py